@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

@layer utilities {
    .hamburger {
        position: fixed;
        top: 25px;
        right: 20px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: none;
        border: none;
        outline: none;
        z-index: 999;
    }

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
        position: absolute;
        width: 30px;
        height: 3px;
        top: 0;
        left: 0;
        background-color: #000;
        transition: all 0.5;
    }

    .hamburger-middle {
        transform: translateY(6px);
    }

    .hamburger-bottom {
        transform: translateY(12px);
    }

    .open {
        transform: rotate(90deg);
    }

    .open.hamburger-top {
        transform: rotate(45deg) translateY(6px) translateX(6px);
    }

    .open.hamburger-middle {
        display: none;
    }

    .open.hamburger-bottom {
        transform: rotate(-45deg) translateY(6px) translateX(-6px);
    }

    .mobile-main-menu {
        @apply fixed top-0 right-0 w-[350px] h-full bg-orange z-[99] flex items-center justify-center translate-x-full;

        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .show {
        @apply translate-x-0;
    }

    .show ul {
        @apply w-full list-none flex flex-col justify-center p-14;

    }

    .show ul li {
        @apply mb-8 text-lg w-full;

    }


    .stop-scrolling {
        @apply overflow-hidden;

    }

    .overlay-show {
        @apply block fixed top-0 left-0 w-full h-screen z-[90];

        background: rgba(0, 0, 0, 0.5);
    }

    .custom-container:hover input ~ .custom-radio {
        background-color: #ccc;
    }

    .custom-container input:checked ~ .custom-radio {
        @apply bg-orange;
    }

    .custom-radio::after {
        content: "";
        position: absolute;
        display: none;
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    .custom-container input:checked ~ .custom-radio:after {
        display: block;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }

    .hoverEffect::before {
        content: '';
        @apply absolute w-0 h-[3px] bg-black bottom-0 left-0;
        transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .hoverEffect:hover::before {
        width: 100%;
    }

    .active::before {
        content: '';
        @apply absolute w-full h-[3px] bg-black bottom-0 left-0;
        transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
}
